<section class="banner">
	<div class="banner-container">

		<header class="header">
			<div class="header-logo">Super<span>Mega</span>Awesome</div>
      <div><i class="fa fa-bars header-menu" aria-hidden="true"></i></div>
			<nav class="header-links">
				<a href="#" class="header-links__item">Home</a>
				<a href="#" class="header-links__item">Portfolio</a>
				<a href="#" class="header-links__item">Services</a>
				<a href="#" class="header-links__item button button-secondary button-small">Get in touch</a>
			</nav>
		</header>

		<div class="content">
			<h1 class="content-title">We create beautiful products.</h1>
			<h2 class="content-subtitle">Truffaut DIY keffiyeh, twee messenger bag venmo locavore organic master cleanse marfa gochujang selvage.</h2>
			<div class="content-buttons-wrapper">
				<a href="#" class="button button-highlight">Learn More</a>
				<a href="#" class="button button-secondary">Play Video</a>
			</div>
		</div>

	</div>
</section>
<section class="services cf">
	<div class="services-container">
		<div class="service">
			<h3>Branding</h3>
			<p>Truffaut DIY keffiyeh, twee messenger bag venmo locavore organic master cleanse marfa gochujang selvage.</p>
			<a href="#" class="button button-highlight button-small">Learn more</a>
		</div>
		<div class="service middle">
			<h3>UI/UX Design</h3>
			<p>Truffaut DIY keffiyeh, twee messenger bag venmo locavore organic master cleanse marfa gochujang selvage.</p>
			<a href="#" class="button button-highlight button-small">Learn more</a>
		</div>
		<div class="service">
			<h3>Development</h3>
			<p>Truffaut DIY keffiyeh, twee messenger bag venmo locavore organic master cleanse marfa gochujang selvage.</p>
			<a href="#" class="button button-highlight button-small">Learn more</a>
		</div>
	</div>
</section>
<section class="past-work">
	<div class="past-work-container">
		<h2 class="title">Our work</h2>
		<img src="images/logos.png" alt="Past client" class="logos">
		<ul class="slider-buttons">
			<a href="#">
				<li class="current"></li>
			</a>
			<a href="#">
				<li></li>
			</a>
			<a href="#">
				<li></li>
			</a>
		</ul>
		<ul class="slider">
			<li><img src="images/1.jpg" alt="1"></li>
			<li><img src="images/2.jpg" alt="2"></li>
			<li><img src="images/3.jpg" alt="3"></li>
		</ul>
	</div>
</section>

<section class="contact">
	<div class="contact-container">
		<h2 class="title">Get in touch</h2>
		<p class="sub-title">Truffaut DIY keffiyeh, twee messenger bag venmo locavore organic master cleanse marfa gochujang selvage.</p>
		<a href="#" class="button button-highlight button-large">Contact us</a>
	</div>
</section>
<footer>
	<p class="copyright">&copy;  2016 <a href="#">Kasia</a> SuperMegaAwesome</p>
</footer>
