<section class="banner">
	<div class="banner-container">

		<header class="header">
			<div class="header-logo">Super<span>Mega</span>Awesome</div>
			<nav class="header-links">
				<a href="#" class="header-links__item">Home</a>
				<a href="#" class="header-links__item">Portfolio</a>
				<a href="#" class="header-links__item">Services</a>
				<a href="#" class="header-links__item button button-secondary button-small">Get in touch</a>
			</nav>
		</header>

		<div class="content">
			<h1 class="content-title">We create beautiful products.</h1>
			<h2 class="content-subtitle">Truffaut DIY keffiyeh, twee messenger bag venmo locavore organic master cleanse marfa gochujang selvage.</h2>
			<div class="content-buttons-wrapper">
				<a href="#" class="button button-highlight">Learn More</a>
				<a href="#" class="button button-secondary">Play Video</a>
			</div>
		</div>

	</div>
</section>