$white: #fff;
$highlight: #7ac483;
$grey-background: #f2f1f8;
$grey-copy: #b9b7c6;
$dark-grey: #3f3d4e;
$border: #c9c7d3;
$lighter-grey: #5b596e;
$button-transparent: rgba(250, 250, 250, .35);
$shadow-grey: rgba(4, 6, 9, .25);
